/* BEGIN RAIN AND CONFETTI STYLES */
.rain-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* This line disables mouse events on the confetti */
    z-index: 10; /* Place it on top of everything */
}
.back-row {
    z-index: 1;
    bottom: 60px;
    opacity: 0.5;
}
.drop {
    position: absolute;
    top: 0px;
    width: 15px;
    height: 20px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0vh);
    }
    75% {
        transform: translateY(90vh);
    }
    100% {
        transform: translateY(90vh);
    }
}
  
.stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(0, 37, 158, 0.557), rgb(0, 37, 158));
    animation: stem 0.5s linear infinite;
}
  
@keyframes stem {
    0% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.splat {
    width: 15px;
    height: 10px;
    border-top: 2px dotted rgb(0, 37, 158);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: splat 0.5s linear infinite;
}

@keyframes splat {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    80% {
        opacity: 1;
        transform: scale(0);
    }
    90% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

#confetti-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* This line disables mouse events on the confetti */
    z-index: 10; /* Place it on top of everything */
}
.confetti {
    position: absolute;
}
.red {
    background-color: #d13447;
}
.yellow {
    background-color: #ffbf00;
}
.blue {
    background-color: #263672;
}
/* END RAIN AND CONFETTI STYLES */


#errorBanner {
    position: fixed;
    top: 10px; /* Move it down a bit from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Align center */
    width: auto; /* Auto width based on content */
    max-width: 600px; /* Maximum width */
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 30px; /* Adjust padding for better appearance */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for floating effect */
    z-index: 1000;
    display: none; /* Hidden by default */
}

#errorBanner button {
    position: absolute;
    right: 2px; /* Align to the right of the banner */
    top: 0px; /* Align to the top of the banner */
    border: none;
    background: transparent;
    color: white;
    font-size: 15px;
    font-style: normal;
    cursor: pointer;
}

/* BEGIN CONVERSATION STYLES */
.game-container {
    text-align: center;
    width: 90%;
    max-width: 800px; /* Set a max-width for larger screens */
    margin: auto; /* Center container on the page */
}
    
#conversationArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
}

.game-description {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.game-description .message {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
}

.game-description .message .bubble{
    width: 70%;
}


.game-description-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.game-description-list li {
    margin-bottom: 5px;
    text-align: left;
    padding-left: 10px;
}

.game-description-list li::before {
    content: '•'; /* Custom bullet symbol */
    position: absolute; 
    left: 10px; /* Align the pseudo-element to the left */
    font-size: 1em; /* Adjust size as needed */
    line-height: 1; /* Aligns bullet properly with the text */
}

.bubbleContainer {
    display: flex;
    justify-content: space-between; /* Space out bubbles */
    align-items: flex-end; /* Align bubbles at the bottom */
    max-width: 600px; /* Adjust as needed */
    width: 100%; /* Take full width of the parent */
    margin-bottom: 20px; /* Space above the input area */
}

.bubble {
    border-radius: 10px;
    max-width: 400px;
    padding: 15px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    color: #000000;
    position: relative; 
    flex-shrink: 0; 
}
    
.left {
    place-self: start;
    justify-content: flex-start; 
}

.left:after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: -5px;
    border-width: 10px;  /* Adjusts the size of the tail */
    border-style: solid;
    border-color: transparent transparent #e0e0e0;
    }

.right {
    place-self: end;
    justify-content: flex-end; 
}

.right:after {
    content: "";
    position: absolute;
    bottom: 0%;
    right: -5px;
    border-width: 10px;  /* Adjusts the size of the tail */
    border-style: solid;
    border-color: transparent transparent #e0e0e0;
    }

.message {
    display: flex;
    align-items: flex-end;
}

.emoji {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: -10px; /* Adjust as needed */
    font-size: 20px;
}
/* END CONVERSATION STYLES */

.gameMessage {
    width: 100%;
}

#gameRestart{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container label {
    display: flex;
    align-items: center; /* Ensures checkbox and first line of text are aligned */
    white-space: normal; /* Allows text wrapping */
    width: 32.5%;
    min-width: 180px; /* Adjusts for consistent alignment */
}

.checkbox-container input {
    margin-right: 8px; /* Spaces checkbox from text */
    align-self: flex-start; /* Ensures alignment with the first line */
}

.checkbox-container span {
    text-align: left; /* Ensures proper text alignment */
}